<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Berhasil</title>
  </head>
  <body>
    <h1>Ini halaman ke dua</h1>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>DayStarted</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for Employee in istekler %}
          <tr>
            <td>{{ Employee.first_name }}</td>
            <td>{{ Employee.last_name }}</td>
            <td>{{ Employee.email }}</td>
            <td>{{ Employee.day_started }}</td>
            <td>{{ Employee.location }}</td>
          </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

  </body>
</html>
